/* * {
   transition: all 0.2s linear;
} */

/* * {
  border: 0 !important;
} */
/* * {
  border: solid 2px !important;

} */

/* section {
  border: 2px solid red !important;
} */

/* CSS for custom carousel */
.Carousel_DisplayFrame__untpB {
  white-space: nowrap;
}
.Carousel_CarouselItem__bXmqw {
  display: inline-block;
  vertical-align: top;
}

/* ----------- Main CSS ----------- */
html body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
  background-color: #141824;

  /* Set the colors of the text selection */
  ::selection {
    background-color: #878a8f;
    color: #fff;
  }
}
#root {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

/* Swiper */
html .change-swiper-container {
  padding-top: 0;
  padding-bottom: 55px;
}
@media (min-width: 1024px) {
  html .change-swiper-container {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
html .swiper-button-next::after {
  content: '';
}
html .swiper-button-prev::after {
  content: '';
}
html .swiper-button-next,
.swiper-button-prev {
  background-image: url('./assets/icons/arrowRight.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  bottom: -10px;
  top: auto;
  width: 45px;
}
html .swiper-button-prev {
  transform: scaleX(-1);
  right: 58px;
  left: auto;
  bottom: -10px;
  top: auto;
  width: 45px;
}
html .swiper-pagination-bullet {
  /* border-radius: 15px; */
}
html .swiper-pagination-bullet-active {
  width: 5px;
}

/* Animation */
@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-up-fade-in {
  animation: slide-up-fade-in 1.5s ease-out forwards;
}

@keyframes reveal {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}
.reveal {
  animation: reveal 2s ease-out forwards;
}

@keyframes reveal2 {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}
.reveal2 {
  animation: reveal 1.5s ease-out forwards;
}
